<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Code.Ca.gov — California's Home for Open Source Projects from the State Government</title>

    <script>
      // before anything else change ?p=/open-tasks to /open-tasks
      if (window.location.search.indexOf('p=') > -1) {
        var pattern = /(\?|&)p=[/a-z-_0-9]{3,500}/
        const newSearch = window.location.search
          .replace(pattern, '') // remove p=... param from url
          .replace(/^./, '?'); // mark sure starting search param in a question mark

        // newPathName is usually something like '/open-tasks'
        const newPathName = (window.location.pathname + window.location.search.match(pattern)[0].substring(3)).replace('//','/')
        console.log("newPathName:", newPathName)

        // newUrl is usually something like .../federalist-stag/open-tasks?agencies=...
        const newUrl = newPathName + newSearch
        console.log("newUrl:", newUrl)

        /* global history */
        history.replaceState({}, 'title', newUrl);
      }
    </script>


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="description" content="We are America’s primary platform for aggregating Open Source Software from the federal government. With thousands of OSS projects made available, Code.gov offers you the opportunity to discover and contribute back to America’s code.">

    <meta property="og:title" content="code.gov">
    <meta property="og:site_name" content="Code.gov">
    <meta property="og:image" content="<%= PUBLIC_PATH %>assets/img/og.jpg">
    <meta property="og:image:url" content="<%= PUBLIC_PATH %>assets/img/og.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <meta property="twitter:image:src" content="https://code.gov/assets/img/og.jpg">
    <meta property="twitter:image:width" content="1200">
    <meta property="twitter:image:height" content="600">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@CodeDotGov">
    <meta name="twitter:title" content="Code.gov">
    <meta name="twitter:description" content="Code.gov is a platform designed to improve access to the federal government’s custom-developed software.">
    <meta name="twitter:image" content="<%= PUBLIC_PATH %>assets/img/og.jpg">

    <meta name="google-site-verification" content="FeV1oMKur5PZSGJtUKhKM5EnNGVXn3tTK13iUk_7NZc">

    <link rel="image_src" type="image/jpeg" href="<%= PUBLIC_PATH %>assets/img/og.jpg">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <div id="load-screen" style="background-color: #0071bc; color: white; bottom: 0; font-size: 24pt; left: 0; position: absolute; right: 0; text-align: center; top: 0">
        <img width="418" alt="Code California" src="<%= PUBLIC_PATH %>assets/img/hero.png" style="padding-top: 50px">
        <noscript>
          <p>You appear to have JavaScript disabled. Please enable JavaScript to use this site.</p>
        </noscript>
      </div>
    </div>
    <script src="<%= PUBLIC_PATH %>webcomponents/code-gov-web-components.js" defer></script>
    <script>

      function loadScript(url) {
        var script = document.createElement('script');
        script.src = url;
        script.onload = function() {
          console.warn("loaded " + url);
        };
        document.head.appendChild(script);
      }

      /* replaced URLSearchParams polyfill with utils/url-parsing */
      /* replaced fetch polyfill with fetchJSON and fetchText */

      if (window.customElements === undefined) {
        console.warn("this browser doesn't support custom elements, so we'll load a polyfill");
        loadScript('<%= PUBLIC_PATH %>polyfills/custom-elements.js');
      }

      try {
        /* global CustomEvent */
        new CustomEvent('test');
      } catch (error) {
        console.warn("This browser doesn't support CustomEvent, which is used by code-gov-style, so we'll load a polyfill");
        loadScript('<%= PUBLIC_PATH %>polyfills/custom-event.js');
      }
    </script>
  </body>
</html>
