#partners {
    // padding-top: 70px;
    background-color: white;
    overflow: hidden;
    font-size: 17px;

    .indented {
        hr {
            border-top: 1px solid rgb(241, 241, 241);
            max-width: 100%;
        }
        h2 {
            font-size: 2em;
            color: black;
        }
        p {
            font-size: 125%;
        }
        div {
            display: flex;
            align-items: center;
            text-align: center;
            @media screen and (max-width: 700px) {
                display: block;
                img {
                    margin: 0 10px;              
                }
            }
        }
        span {
            margin: 10px 0 20px 0;
            width:50%;
            text-align: center;
        }
    }
}
